* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("http://i.imgur.com/7nCRR.png");
    background-size: cover;
    background-repeat: repeat;
}

.flex {
    display: flex;
    flex-direction: column;
}

.top {
    width: 100%;
    height: auto;
    text-align: center;
}

.wrap {
    margin-top: 3vh;
}

.side {
    background-color: rgba(238,238,238,0.04)!important;
    background-image: url("https://i.imgur.com/etp5BA5.png");
    background-blend-mode: color;
    background-position: top;
    background-size: cover;
    float: left;
    width: 19.9vw;
    height: 60vh;
    margin: 2vh 0vw 0vh 3vw;
    position: relative;
    font-family: 'VT323', monospace;
    box-shadow: 3px 3px 8px 2px rgba(34,26,26,0.70);
    -webkit-box-shadow: 3px 3px 8px 2px rgba(34,26,26,0.70);
    -moz-box-shadow: 3px 3px 8px 2px rgba(34,26,26,0.70);

}

.navigation {
    margin-top: 24vh;
    display: none;
    flex-direction: column;
}

.menu {
    margin-top: 24vh;
}

.pokedex-img {
    width: 20vw;
    height: 60vh;
    opacity: 0.97;
    filter: alpha(opacity=97); /* For IE8 and earlier */
}

.init {
    font-family: 'VT323', monospace;
    text-align: center;
    font-size: 2.5em;
}

.init img {
    height: 30vh;
}

.search-box {
    display: flex;
    justify-content: center;
    padding: 0.3em;
    margin: 1.6em 0em 0em 1.5em;
    border: none;
    width: 15vw;
    height: auto;
    background-color: aqua;
    font-size: 1.2em;
    font-family: 'VT323', monospace;
}

.backBtn {
    display: flex;
    justify-content: center;
    padding: 0.3em;
    margin: 6em 0em 0em 1.5em;
    border: none;
    width: 15vw;
    height: auto;
    background-color: aqua;
    font-size: 1.2em;
    font-family: 'VT323', monospace;
}

.bck {
    text-decoration: none;
}

.opt {
    display: flex;
    justify-content: center;
}

.btn {
    width: 90%;
    height: 3vh;
    border: 0.2px solid rgba(49, 43, 43, 0.582);
    padding: 0.2em;
    text-align: center;
    font-family: 'VT323', monospace;
    font-size: 1em;
    background-color: rgba(255, 255, 255, 0.418);
    margin: 0em 0em 0.3em 0em;
    border-bottom: 0 none;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.53);
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.53);
}

.filters {
    display: block;
    margin: 0em 0em 0.5em 0.8em;
    width: 90%;
    height: 3vh;
    border: none;
    font-family: 'VT323', monospace;
    font-size: 1.1em;
    background-color: rgba(255, 255, 255, 0.418);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.53);
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.53);
}

.other {
    display: inline-block;
    margin-top: 56vh;
    text-align: center;
}

.other a {
    text-decoration: none;
}

.content {
    position: absolute;
    margin: 10vh 0vw 0vh 28vw;
    width: 70vw;
    overflow-y: auto;
    height: 42vh;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    color: rgba(19, 18, 18, 0.92);
    scrollbar-color: rgb(219, 16, 16);
    scrollbar-width: thin;
}

.pokemon-list {
}

#eachPokemon {
    display: none;
}

.pokemon {
    display: inline-block;
}

.pokemon-card {
    margin: 0em 2em 5em 0em;
    padding: 1em;
    width: 18vw;
    height: auto;
    background-color: rgb(250, 245, 245);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.45);
    /* border-bottom: 0 none;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.53); */
    border-radius: 5px 5px 5px 5px;
}

.pokemon-num {
    font-size: 0.8em;
}

.pokemon-name {
    font-size: 1.7em;
    padding-top: 0.3em;
    margin-bottom: 3vh;
}

.card-img {
    display: flex;
    justify-content: center;
    margin-bottom: -5.3vh;
}

.top {
    display: block;
}

/* talvez colocar um auto grow? */
.sub {
    text-align: center;
    font-size: 0.8em;
    color: rgba(37, 36, 36, 0.75);
}

.card-weaknesses {
    display: flex;
    flex-direction: column;
}

.pokemon-weaknesses {
    font-size: 0.9em;
    margin-top: 1.5vh;
}

.sub-weak {
    font-size: 0.8em;
    color: rgba(37, 36, 36, 0.75);
    margin-top: 0.1vh;
    margin-left: 0.8vw;
}

.pokemon-type {
    font-size: 1.1em;
}

.pokemon-weight {
    font-size: 1.1em;
}

.pokemon-height {
    font-size: 1.1em;
}

.info {
    display: inline-block;
}

.hold {
    display: flex;
    justify-content: space-evenly;
}

.card-candy {
    margin-top: 4vh;
    text-align: center;
}

.card-candy-evo {
    margin-top: 1vh;
    text-align: center;
}

.card-weaknesses {
    margin-top: 4vh;
}

.sub-weak {
    font-size: 0.8em;
    color: rgba(37, 36, 36, 0.75);
}

.other {
    display: none;
    
}

.other-btn {
    width: 20%;
    height: 3.5vh;
    border: 0.2px solid rgba(49, 43, 43, 0.582);
    text-align: center;
    font-family: 'VT323', monospace;
    font-size: 1em;
    background-color: rgba(255, 255, 255, 0.418);
    border-bottom: 0 none;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.53);
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.53);
}


.content::-webkit-scrollbar {
    width: 1.2em;
}

::-webkit-scrollbar-track {
  border: dashed 0.5px rgba(0, 255, 255, 0.80);
  border-radius: 15px 15px 15px 15px;
  box-shadow: 0 1px 1px 0 rgba(54, 51, 51, 0.50) inset;
  -webkit-box-shadow: 0 1px 1px 0 rgba(54, 51, 51, 0.50) inset;
  -moz-box-shadow: 0 1px 1px 0 rgba(54, 51, 51, 0.50) inset;
}

.content::-webkit-scrollbar-thumb {
  background-color: rgb(219, 16, 16);
  outline: 1.5px solid aqua;
  border-radius: 100px 100px 100px 100px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.60);
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.60);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.60);
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(219, 16, 16, 0.20);
}