.pokemonList {
    display: flex;
    width: 20vw;
}

.pokemon-card {
    display: inline-block;
    flex-wrap: wrap;
    margin: 8vw;
    padding-top: 0.6vh;
    padding-bottom: 0.6vh;
    padding-left: 1.2vw;
    padding-right: 1.2vw;
    border: black 1px solid;
}

.poke-type-list {
    list-style-type: none;
}

.poke-weaknesses-list {
    list-style-type: none;
}